$brand: rebeccapurple;
$white: #fff;

// greys

$black: #111;
$black-80: rgb(0 0 0 / 80%);
$black-60: rgb(0 0 0 / 60%);
$black-40: rgb(0 0 0 / 40%);
$black-20: rgb(0 0 0 / 20%);
$black-10: rgb(0 0 0 / 10%);
