@use "../variables";
@use "./media-queries";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grid-header {
  grid-column: layout-left / layout-right;
  grid-row: layout-top / header-end;
}

@mixin grid-sidebar {
  grid-column: layout-left / sidebar-end;
  grid-row: body-start / body-end;
}

@mixin grid-main {
  padding: variables.$space-8;
  grid-column: main-start / layout-right;
  grid-row: body-start / body-end;
  overflow-y: scroll;

  @include media-queries.sm-up {
    padding: variables.$space-16;
  }
}

@mixin content-max-width-narrow {
  max-width: variables.$max-content-width-narrow;
  margin: 0 auto;
}

@mixin content-wrapper-narrow {
  display: flex;
  width: 100%;
  max-width: variables.$max-content-width-narrow;
  flex-direction: column;
  margin: 0 auto;
}
