@use "../../../styles/mixins/a11y";
@use "../../../styles/variables";

.label {
  margin-right: variables.$space-16;

  &.visuallyHidden {
    @include a11y.visually-hidden;
  }
}

.input,
.select {
  padding: variables.$space-8;
  border: 1px solid variables.$black;
  border-radius: variables.$border-radius;
  font-size: 100%;
}
