@use "../../../styles/variables";

.label {
  margin-right: variables.$space-16;
}

.input,
.select {
  padding: variables.$space-8;
  border: 1px solid variables.$black;
  border-radius: variables.$border-radius;
}
