@use "../../../styles/mixins/elements";
@use "../../../styles/mixins/typography";
@use "../../../styles/mixins/a11y";

.sidebarMenu {
  width: 300px;
}

.sidebarMenuTitle {
  @include typography.heading-4;
  @include a11y.visually-hidden;
}

.sidebarMenuListItem {
  display: flex;
  align-items: center;
}

.sidebarMenuLink {
  @include elements.block-link;

  width: 100%;
}
