@use "../../../styles/mixins/layout-utils";
@use "../../../styles/mixins/elements";
@use "../../../styles/variables";

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  box-shadow: variables.$box-shadow-bottom;

  @include layout-utils.grid-header;
}

.headerBrand {
  @include layout-utils.flex-center;

  min-width: variables.$space-80;
  flex: 0 1 auto;
}

.headerNav {
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
}

.headerNavList {
  display: flex;
  flex-flow: row nowrap;
}

.headerNavListItem {
  display: flex;
  align-items: center;
}

.headerNavLink {
  @include layout-utils.flex-center;
  @include elements.block-link;

  padding: variables.$space-12;
}
