@use "../../../styles/variables";
@use "../../../styles/utils";

.userMenu {
  position: relative;
  height: 100%;
}

.userMenuButton {
  position: relative;
  z-index: 10;
  width: 60px;
  height: 100%;
  border: 1px solid variables.$brand;
  border-radius: variables.$border-radius;
  background-color: variables.$brand;
  color: variables.$white;
}

.userMenuListContainer {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0;
  width: 200px;
  padding: variables.$space-12;
  background-color: variables.$white;
  box-shadow: variables.$box-shadow-bottom;
  transform: translateX(205px);
  transition: transform variables.$transition;
}

.userMenuBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.userMenuIsOpen {
  .userMenuListContainer {
    transform: translateX(0);
  }

  .userMenuBackground {
    z-index: 1;
    display: block;
    background: variables.$black-20;
  }
}

.userMenuList {
  list-style: none;
}

.userMenuLink {
  display: block;

  @include utils.block-link;
}
