@use "./colors";

$max-body-width: 1440px;
$max-content-width-narrow: 768px;
$border-radius: 4px;
$transition: 500ms ease;
$box-shadow-bottom: 0 1px 2px colors.$black-20;
$box-shadow-right: 1px 0 2px colors.$black-20;
