@use "./spaces";
@use "./defaults";
@use "./media-queries";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grid-header {
  grid-column: layout-left / layout-right;
  grid-row: layout-top / header-end;
}

@mixin grid-sidebar {
  padding: spaces.$space-8;
  grid-column: template-left / sidebar-end;
  grid-row: template-top / template-bottom;

  @include media-queries.sm-up {
    padding: spaces.$space-16;
  }
}

@mixin grid-main-sidebar {
  padding: spaces.$space-8;
  grid-column: main-start / template-right;
  grid-row: template-top / template-bottom;
  overflow-y: scroll;

  @include media-queries.sm-up {
    padding: spaces.$space-16;
  }
}

@mixin grid-main-full {
  padding: spaces.$space-8;
  grid-column: template-left / template-right;
  grid-row: template-top / template-bottom;
  overflow-y: scroll;

  @include media-queries.sm-up {
    padding: spaces.$space-16;
  }
}

@mixin content-max-width-narrow {
  max-width: defaults.$max-content-width-narrow;
  margin: 0 auto;
}
