@use "./variables";

@mixin block-link {
  padding: variables.$space-12 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom variables.$transition;

  &:hover,
  &.isActive {
    border-bottom-color: variables.$brand;
  }
}
